
.header-style {
  padding-bottom: 10px;
}

.is-selected {
  color: #71EEB8 !important;
}

.extra-tall {
  height: 788px;
}

.top-row {
  margin-top: 18px !important;
}

.margin-top-medium {
  margin-top: 40px !important;
}

.margin-bottom-small {
  margin-bottom: 30px !important;
}

.margin-sides-medium {
  margin-left:  10px !important;
  margin-right: 10px !important;
}

.side-nav {
  font-size: 18px;
  letter-spacing: 2px;
}

span.location {
  font-size: 16px;
}

.footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
}